@import "./scripts/styles/reset.css";
@import "./scripts/styles/rightbar.scss";

.full-size {
    display: flex;
    justify-content: flex-start;
}
.canvas-container {
    width: 80vw;
    height: 80vh;
    // height: 720px;

}


.splash-screen {
    --width: 80vw;
    width: var(--width);
    --height: min(80vw, 80vh);
    height: var(--height);
    background-color: lightcyan;
    // font-size: 36pt;
    // color: violet;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: space-between;
    position: absolute;
    top: calc(50% - var(--height) / 2);
    left: calc(50% - var(--width) / 2);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 10%;
    border: 3px solid darkgreen;
}

.splash-screen em {
    font-size: min(3.6vw, 3.6vh);
    color: darkgreen;
}

.splash-screen em:first-of-type {
        position: relative;
        top: 3vh;
}

.splash-screen > h1 {
    color: rgb(104, 1, 104);
    font-size: 4.8vw; // can't use responsive font-size here, it will break the animation
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.splash-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-description p {
    font-size: 2.4vw;
    text-align: left;
    width: 40vw;
    padding-left: 8vw;
    color:rgb(104, 1, 104);
}

.mini-splash {

    background-color: lightcyan;
    // font-size: 36pt;
    // color: violet;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: space-between;
    position: absolute;
    // top: calc(50% - var(--height) / 2);
    // left: calc(50% - var(--width) / 2);
    text-align: center;
    border-radius: 10%;
    border: 3px solid darkgreen;
    font-size: 1.33rem;
    padding: 10px;
}

#main-canvas {
    // width: 100%;
    border: 2px solid black;
}

.continue-button {
    font-weight: bold;
    color: darkgreen;
    cursor: pointer;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.overlay {
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    text-align: center;
    display: none;
}

.heading-main {
    color: rgb(104, 1, 104);
    height: 52pt; // set this for correct y position of Ashley 
    font-size: 3.6vw; // can't use responsive font-size here, it will break the animation
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
}

#status-bar {
    text-align: center;
    border: 3px dotted gray; 

    display: none; // for a future LaTeX equation display
}

#ashley {
    // border: 1px solid black;
    height: 24px;
    width: 16px;
    background: url("../src/WalkingGirl2.png");
    background-size: 84px;
    background-position : bottom 54px right -2px;
    // transition-property: background-position;
    // transition-duration: 4s;
    // transform: scaleX(-1);
    position: absolute;
    // top: 60px;
    // left: 50px;
    // box-sizing: border-box;
    margin: 0px;
}

#ashleyface {
    // border: 1px solid black;
    height: 24vw;
    width: 16vw;
    background: url("../src/WalkingGirlForward.png");
    background-size: 72vw;
    background-position : bottom 47vw right -1vw; // bottom is 47/24 of height, right is -1/16 of width
    // transition-property: background-position;
    // transition-duration: 4s;
    // transform: scaleX(-1);
    // position: absolute;
    // box-sizing: border-box;  
}

@keyframes glow {
    from {
        filter: drop-shadow(0px 0px 16px rgba(104, 1, 104));
        transform: scale(3);
    }
    
    to {
      filter: none;
    }
  }

.logos {
    height: 52pt;
}